.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 450px;
    background-color: #e0e0e0;
    border-radius: 5px;
    padding: 10px;
}

.header {
    font-size: 25px;
    align-self: center;
    font-family: Arial, Helvetica, sans-serif;
}

.login-input-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    padding: 3px;
}

.login-input {
    align-self: flex-start;
    font-size: 15px;
    height: 20px;
}

.login-error {
    font-size: 13px;
    height: 18px;
    color: red;
    margin: 2px;
}

.login-button {
    border-radius: 3px;
    background-color: #03a9f4;
    height: 25px;
    color: #ffffff;
    margin: 10px;
}

.login-button:focus {
    background-color: #007ac1;
}

.login-button:hover {
    background-color: #67daff;
}

.vertical-menu {
  width: 300px;
  height: 200px;
  margin: auto;
  overflow-y: auto;
}

.vertical-menu div {
  background-color: #eee;
  color: black;
  display: block;
  padding: 12px;
  text-decoration: none;
}

.vertical-menu div:hover {
  background-color: #ccc;
}

.vertical-menu div:active {
  background-color: #4CAF50;
  color: white;
}

.perm-div {
  height: 200px;
  overflow-y: auto;
}