<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/main.css" />
    <script src="/main.js" ></script>
</head>
<body>

<div style="display:flex; justify-content:center;">
    <form class="login-form">
        <h1 class="header">Log In</h1>
        <div class="login-input-container">
            <input class="login-input" type="text" name="userName" id="userName" placeholder="Username"/>
            <label class="login-error" id="userNameError"></label>
        </div>
        <div class="login-input-container">
            <input class="login-input" type="password" name="password" id="password" placeholder="Password"/>
            <label class="login-error" id="passwordError"></label>
        </div>
        <input class="login-button" type="button" value="Log In" onclick="loginUser()" />
        <a value="Register" href="/register">Sign up</a>
    </form>
</div>

</body>
</html>