<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/main.css" />
    <script src="/main.js" ></script>
</head>
<body>

<div>
    <form class="login-form">
        <label for="userName">Username: </label>
        <input class="login-input" type="text" name="userName" id="userName"/>
        <label class="login-error" id="userNameError"></label>
        <label for="password">Password: </label>
        <input class="login-input" type="password" name="password" id="password"/>
        <label class="login-error" id="passwordError"></label>
        <input class="login-button" type="button" value="Log In" onclick="loginUser()" />
        <input class="login-button" type="button" value="Register" onclick="window.open('/register', '_self')" />
    </form>
</div>

</body>
</html>