<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/main.css" />
    <script src="/main.js" ></script>
</head>
<body>

<div style="display:flex; justify-content:center;">
    <form class="login-form" method="post">
        <h1 class="header">Register</h1>
        <div class="login-input-container">
            <input class="login-input" type="text" id="idNumber" name="idNumber" placeholder="ID Number" maxlength="15" minlength="4" onchange="validateId()"/>
            <label class="login-error" id="idNumberError"></label>
        </div>
        <div class="login-input-container">
            <input class="login-input" type="text" id="userName" name="userName" placeholder="Username"/>
            <label class="login-error" id="userNameError"></label>
        </div>
        <div class="login-input-container">
            <select class="login-input" type="text" id="idType" name="idType">
                <option value="nationalId">National ID</option>
            </select>
            <label class="login-error" id="idTypeError"></label>
        </div>
        <div class="login-input-container">
            <input class="login-input" type="text" id="firstName" name="firstName" placeholder="First Name" disabled/>
            <label class="login-error" id="firstNameError"></label>
        </div>
        <div class="login-input-container">
            <input class="login-input" type="text" id="middleName" name="middleName" placeholder="Middle Name" disabled/>
            <label class="login-error" id="middleNameError"></label>
        </div>
        <div class="login-input-container">
            <input class="login-input" type="text" id="lastName" name="lastName" placeholder="Last Name" disabled/>
            <label class="login-error" id="lastNameError"></label>
        </div>
        <div class="login-input-container">
            <input class="login-input" type="text" id="phoneNumber" name="phoneNumber" maxlength="12" minlength="10" placeholder="0771234567"/>
            <label class="login-error" id="phoneNumberError"></label>
        </div>
        <div class="login-input-container">
            <input class="login-input" type="password" id="password" name="password" placeholder="Password" minlength="8"/>
            <label class="login-error" id="passwordError"></label>
        </div>
        <div class="login-input-container">
            <input class="login-input" type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" minlength="8"/>
            <label class="login-error" id="confirmPasswordError"></label>
        </div>
        <div class="login-input-container">
            <select class="login-input" type="text" id="country" name="country">
                <option value="kenya">Kenya</option>
            </select>
            <label class="login-error" id="countryError"></label>
        </div>
        <div class="login-input-container">
            <label for="dob">Date of Birth: </label>
            <input class="login-input" type="date" id="dob" name="dob" disabled/>
            <label class="login-error" id="dobError"></label>
        </div>
        <input class="login-button" type="button" value="Register" onclick="registerUser()"/>
    </form>
</div>

</body>
</html>