<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/main.css" />
</head>
<body>

<div>
    <form class="login-form" action="#" th:action="@{/register}" th:object="${userForm}" method="post">
        <label for="userName">Username: </label>
        <input class="login-input" type="text" id="userName" name="userName"/>
        <label th:if="${#fields.hasErrors('userName')}" th:errors="*{userName}"></label>
        <label for="idNumber">Id Number: </label>
        <input class="login-input" type="text" id="idNumber" name="idNumber" placeholder="12345678890"/>
        <label th:if="${#fields.hasErrors('idNumber')}" th:errors="*{idNumber}"></label>
        <label for="idType">Id Type: </label>
        <select class="login-input" type="text" id="idType" name="idType">
            <option value="nationalId">National ID</option>
            <option value="driversLicense">Drivers License</option>
        </select>
        <label th:if="${#fields.hasErrors('idType')}" th:errors="*{idType}"></label>
        <label for="firstName">First Name: </label>
        <input class="login-input" type="text" id="firstName" name="firstName"/>
        <label th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></label>
        <label for="middleName">Middle Name: </label>
        <input class="login-input" type="text" id="middleName" name="middleName"/>
        <label th:if="${#fields.hasErrors('middleName')}" th:errors="*{middleName}"></label>
        <label for="lastName">Last Name: </label>
        <input class="login-input" type="text" id="lastName" name="lastName"/>
        <label th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></label>
        <label for="phoneNumber">Phone Number: </label>
        <input class="login-input" type="text" id="phoneNumber" name="phoneNumber" placeholder="0771234567"/>
        <label th:if="${#fields.hasErrors('phoneNumber')}" th:errors="*{phoneNumber}"></label>
        <label for="lastName">Country: </label>
        <select class="login-input" type="text" id="country" name="country">
            <option value="uganda">Uganda</option>
            <option value="kenya">Kenya</option>
        </select>
        <label th:if="${#fields.hasErrors('country')}" th:errors="*{country}"></label>
        <label for="dob">Date of Birth: </label>
        <input class="login-input" type="date" id="dob" name="dob"/>
        <label th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"></label>
        <label for="password">Password: </label>
        <input class="login-input" type="password" id="password" name="password"/>
        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></label>
        <label for="confirmPassword">Confirm Password: </label>
        <input class="login-input" type="password" id="confirmPassword" name="confirmPassword"/>
        <input class="login-button" type="submit">
    </form>
</div>

</body>
</html>